<ng-container *ngIf="selectedProValue === project.friendlyURL; then selected; else notselected"></ng-container>
<ng-template #selected>
  <div class="column">
    <div class="ui fluid card" style="width:300px;height:150px;margin:10px;background:#7da7d9;">
      <div class="content">
        <a class="header">{{ project.name }}</a><br>
        <div class="description">{{ project.friendlyURL }}</div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #notselected>
  <ng-container *ngIf="first==true && selectedProValue == null; then selected; else notselected"></ng-container>
  <ng-template #selected>
    <div class="column">
      <div class="ui fluid card" style="width:300px;height:150px;margin:10px;background:#7da7d9;">
        <div class="content">
          <a class="header">{{ project.name }}</a><br>
          <div class="description">{{ project.friendlyURL }}</div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #notselected>
    <div class="column">
      <div class="ui fluid card" style="width:300px;height:150px;margin:10px;background:whitesmoke;">
        <div class="content">
          <a class="header">{{ project.name }}</a><br>
          <div class="description">{{ project.friendlyURL }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>
