<div class="ui middle aligned selection divided list">
    <div class="ui three column grid" style="margin: 10px;">
      <h2 class="ui header inverted"><div *ngFor="let o of organizations">User organization {{o.name}}</div></h2>
    </div>
    <div class="ui three column grid">
    <a class="exc-user-list-item item"
       *ngFor="let b of users"
       [user]="b"
       [routerLink]="b.userId"></a>
    </div>
</div>
<div *ngIf="!users" class="ui active dimmer">
  <div class="ui large text loader">Daten werden geladen...</div>
</div>
  <p *ngIf="users && !users.length">Es wurden noch keine User eingetragen.</p>
