<div class="column">
  <div *ngFor="let o of first_organization">

    <div *ngIf="o.name === organization.name" class="ui fluid card" style="width:300px;height:250px;margin:10px;background:cornflowerblue;">
      <div class="content">
        <a class="header">{{ organization.name }}</a><br>
        <div class="description">{{ organization.treePath }}</div>
        <div class="description">{{ organization.comments }}</div>
      </div>
    </div>

    <div *ngIf="o.name !== organization.name" class="ui fluid card" style="width:300px;height:250px;margin:10px;background:whitesmoke;">
      <div class="content">
        <a class="header">{{ organization.name }}</a><br>
        <div class="description">{{ organization.treePath }}</div>
        <div class="description">{{ organization.comments }}</div>
      </div>
    </div>

  </div>
</div>
