<div class="ui search" [ngClass]="{ loading: isLoading }">
  <div class="ui icon input">
    <input (keyup)="keyup.emit(searchTerm.value)" #searchTerm class="prompt" type="text" placeholder="Suche...">
    <i class="search icon"></i>
  </div>
  <div class="results transition" [ngClass]="{ visible: foundUsers.length }">
    <a href (click)="userSelected.emit(user); false" class="result" *ngFor="let user of foundUsers">
      <div class="content">
        <div class="title" >{{ user.lastName }}</div>
      </div>
    </a>
  </div>
</div>
