<h1>Userformular</h1>
<form class="ui large form"
      #myForm="ngForm"
      (ngSubmit)="submitForm()">
  <div class="field">
    <label>Screen Name</label>
    <input
      name="screenName"
      [(ngModel)]="user.screenName"
      required>
    <div *ngIf="errors.screenName" class="ui negative message">
      {{ errors.screenName }}
    </div>
  </div>

  <div class="field">
    <label>E-Mail Adresse</label>
    <input
      name="emailAddress"
      [(ngModel)]="user.emailAddress"
      required>
    <div *ngIf="errors.emailAddress" class="ui negative message">
      {{ errors.emailAddress }}
    </div>
  </div>

  <div class="field">
    <label>Greeting</label>
    <input
      name="greeting"
      [(ngModel)]="user.greeting"
      required>
    <div *ngIf="errors.greeting" class="ui negative message">
      {{ errors.greeting }}
    </div>
  </div>

  <div class="field">
    <label>Vorname</label>
    <input
      name="firstName"
      [(ngModel)]="user.firstName"
      required>
    <div *ngIf="errors.firstName" class="ui negative message">
      {{ errors.firstName }}
    </div>
  </div>

  <div class="field">
    <label>Nachname</label>
    <input
      name="lastName"
      [(ngModel)]="user.lastName"
      required>
    <div *ngIf="errors.lastName" class="ui negative message">
      {{ errors.lastName }}
    </div>
  </div>

  <div class="field">
    <label>Beruf</label>
    <input
      name="jobTitle"
      [(ngModel)]="user.jobTitle"
      required>
    <div *ngIf="errors.jobTitle" class="ui negative message">
      {{ errors.jobTitle }}
    </div>
  </div>

  <button type="submit" class="ui button" [disabled]="myForm.invalid">Speichern</button>
</form>
