<div class="ui card" style="width: 90%">
  <div class="image">
    <img src="{{profile?.picture}}" class="avatar" alt="avatar">
  </div>
  <div class="content">
    <div class="description">
      <a>
        <i class="user icon"></i> {{ profile?.nickname }}
      </a>
    </div>
    <div class="description">
      <a>
        <i class="mail icon"></i> {{ profile.email }}
      </a>
    </div>
    <div class="description">
      <a>
        <i class="tag icon"></i> {{ profile[exchange_id_uri] }}
      </a>
    </div>
    <div class="description">
      <a>
        <i class="clock icon"></i> {{ profile.updated_at }} (last update)
      </a>
    </div>
    <!--
    <div class="description" style="font-size: x-small">
      <pre class="full-profile">{{ profile | json }}</pre>
    </div>
    -->
  </div>
</div>


