<div class="ui container">
  <div class="ui grid" *ngIf="user">

    <div class="three wide column" style="margin:20px;">
      <img class="ui small images" [src]="getUserImage()">
    </div>

    <div class="eight wide column">
      <h1 class="ui header inverted">{{ user?.screenName }}</h1>
      <h3 class="ui header inverted">{{ user?.emailAddress }}</h3>

      <div class="ui divider inverted"></div>

      <div class="ui grid">
        <div class="eight wide column">
          <h4 class="ui header inverted">User Id: {{ user?.userId }}</h4>
          <h4 class="ui header inverted">Contact Id: {{ user?.contactId }}</h4>
        </div>
        <div class="four wide column">
          <h4 class="ui header inverted">Rating</h4>
          <i *ngFor="let r of getRating(user?.rating)" class="yellow star icon"></i>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="ui grid">
        <div class="eight wide column">
          <h4 class="ui header inverted">Name: {{ user?.firstName }} {{ user?.lastName }}</h4>
          <h4 class="ui header inverted">Beruf: {{ user?.jobTitle }}</h4>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="eight wide column">
        <button class="ui tiny red labeled icon button"
                (click)="removeUser()">
          <i class="remove icon"></i> User löschen
        </button>

        <a class="ui tiny yellow labeled icon button"
           [routerLink]="['../../admin', user?.userId]">
          <i class="write icon"></i> User bearbeiten
        </a>
      </div>


    </div>



  </div>


</div>
<!-- <img *ngFor="let thumbnail of user?.thumbnails" [src]="thumbnail.url">-->

