<div class="column">
  <div class="ui fluid card" style="width:300px;height:250px;margin:10px;background:whitesmoke;">
    <div style="height:100px;">
      <img class="ui tiny image" [src]="getUserImage()" excZoom style="height:auto;width:auto;max-height:100px;background:none;">
    </div>
    <div class="content">
      <a class="header">{{ user.firstName }} {{ user.lastName }}</a><br>
      <div class="meta">
        <span class="date">User id: {{ user.contactId }}</span><br>
        <span class="date">{{ user.greeting}}</span>
      </div>
      <div class="description">{{ user.jobTitle }}&nbsp;</div>
      <div class="description"><i class="mail icon"></i> {{ user.emailAddress }}</div>
    </div>
  </div>
</div>
<!--<img class="ui tiny image" *ngIf="user.thumbnails" [src]="user.thumbnails[0].url" excZoom>-->

